<!DOCTYPE html>
<html>
    <head>
        <title>Error Page</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="/js/client.js"></script>
    </head>
    <body>
        {{> header}}
        {{> message}}
    </body>
</html>