<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <div class="main-content">
            {{> header}}
            <form>
                <input id="txtAddress" type="text" placeholder="Enter address" />
                <input id="btnSubmit" type="submit" value="Search" />
            </form>
            <p id="msgOne"></p>
            <p id="msgTwo"></p>
        </div>
        {{> footer}}
        
        <!-- Load client js -->
        <script src="/js/client.js"></script>
    </body>
</html>